<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<title>New Expense</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Le styles -->
	<link href="/static/assets/css/bootstrap.css" rel="stylesheet">
	<style type="text/css">
	  body {
		padding-top: 60px;
		padding-bottom: 40px;
	  }
	  .sidebar-nav {
		padding: 9px 0;
	  }
	  .datatable_tr {
		}
	  .datatable_tr_odd{
	  	background-color: #DDDDDD;
		}
		
	    .datatable_tr_hover{
	  	background-color: #DDDDDD;
		}


	  .datatable_td {
	    border-top: 1px solid #DDDDDD;
	    line-height: 30px;
	    padding: 8px;
	    text-align: left;
	    border-left: 1px solid #ddd;

	}
	.datatable_th {
	  font-weight: bold;
  	  vertical-align: bottom;
 	}
	.table tbody tr:hover td,
	.table tbody tr:hover th {
	  background-color: #DDDDDD;
	}


	</style>
	<script src="/static/assets/js/jquery-1.7.1.min.js" type="text/javascript"></script>
	<script src="/static/assets/js/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
	<link href="/static/assets/css/custom-theme/jquery-ui-1.8.16.custom.css" rel="stylesheet">
	<script src="https://www.google.com/jsapi" type="text/javascript"></script>
	<script>google.load('visualization', '1', {packages:['table']});</script>
	<script src="/static/assets/js/newExpenseItem.js" type="text/javascript"></script>
	<script>
	//date picker
	$(function() {
		$( "#id_date" ).datepicker();
	});
	//resize
	/*
	$(function() {
		$( "#expenseLeft" ).resizable({
			alsoResize: "#expneseRight"
		});
		$( "#expneseRight" ).resizable();
	});
	*/
	</script>

	</head>
	<!--body -->
    <body>
	<!-- top navigate bar -->
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">E-Claim Prototype</a>
          <div class="container">
            <p class="navbar-text pull-right">Welcome, {{ user.username }} <a href="{% url django.contrib.auth.views.logout %}">Log me out</a></p>
          </div>
        </div>
      </div>
    </div>
	
	<div class="container-fluid">
		<ul class="nav nav-tabs">
		  <li><a href="/eclaim">Home</a></li>
		  <li class="active"><a href="#">New Expense Report</a></li>
		  <li><a href="#contact">View&Edit</a></li>
		  <li><a href="#contact">Approve Reports</a></li>
		  <li><a href="#contact">Reporting</a></li>
		</ul>
	</div>

    <div class="container-fluid">
		<div class="row-fluid">
			<div class="well span11">
			<div class="span5">
				<h3>Expense Report: {{ expense.name }}</h3>
			</div>
			<div class="span6">
				<div class="span4 offset4">
					<button type="submit" class="btn btn-success">Submit</button>
					<button class="btn btn-danger">Delete</button>
				</div>
			</div>
			</div>

		</div>
		<div class="row-fluid">
			<!--left side Expense List
			========================================================-->
			<div class="well span5" id="expenseLeft">
				<h3>Expenses</h3>
				<div class="row">
					<div id="expenseListTable" class="span11"></div>
				</div>
				<div id="Total" class="span3" style="float: right;padding-top:10px;">
					<h4>Total: {{expense.total}}</h4>
				</div>

			</div>
			<!--right side Expense Form
			========================================================-->
			<div class="span6" id="expenseRight">
				<form class="form-horizontal well" id="expenseItemForm" action="item/" method="post"> {% csrf_token %}
					
					<fieldset>
					<input type="hidden" id="expenseName" name="expenseName" value={{ expense.name }} />
					<input type="hidden" id="itemId" name="itemId" value={{item.pk}}/>
					  <legend>New Expense Item</legend>
					  <!-- Expense Type-->
					  <div class="control-group" id="Expense Type Control Group">
						<label class="control-label" for="Expense Type">Expense Type</label>
						<div class="controls">{{form.category}}</div>
					  </div>
					  <!--Price-->
					  <div class="control-group" id="Location">
						<label class="control-label" for="Location">Price</label>
						<div class="controls">
							{{form.price}}
						</div>
					  </div>
					  <!--Quantity-->
					  <div class="control-group" id="Location">
						<label class="control-label" for="Location">Quantity</label>
						<div class="controls">
							{{form.quantity}}
						</div>
					  </div>

					  <!--Transaction Date-->
					  <div class="control-group">
						<label class="control-label" for="Transaction Date">Transaction Date</label>
						<div class="controls">
						  <input class="datePicker" type="text" name="date" id="id_date">
						</div>
					  </div>
					  <!--Payment Type-->
					  <div class="control-group" id="Payment Type">
						<label class="control-label" for="Payment Type">Payment Type</label>
						<div class="controls">
							{{form.paymentType}}
						</div>
					  </div>
					  <!--location-->
					  <div class="control-group" id="Location">
						<label class="control-label" for="Location">Location</label>
						<div class="controls">
							{{form.location}}
						</div>
					  </div>

					  <!-- Comment -->
					  <div class="control-group">
						<label class="control-label" for="comment">Comment</label>
						<div class="controls">
							{{form.description}}
						</div>
					  </div>
					</fieldset>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary" id="expenseItemSubmitBtn">Save Expenst Report</button>
							<button class="btn">Cancel</button>
					  	</div>
				</form>

			</div>
		</div>
	</div>
	</body>
	
	</HTML>
	
	